*{
    margin: 0;
    padding: 0;
    font-family:andale mono, monospace;
}

.header{
    min-height:100vh;
    width:100%;
    background-image: url(IMAGES/home-background.jpg);
    background-position: center;
    background-size:cover;
    position:relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 2;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color:#fff;
    font-family:andale mono, monospace;
    font-weight:bold;
    font-size: 22px;
    text-decoration:none;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:3px;
    display:flex;
    margin:auto;
    background:#fff;
    transition:0.5s ease;
}

.nav-links ul li:hover::after{
    width:100%
}

.intro{
    justify-content: center;
    color: #fff;
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.intro h1{
    text-align:start;
    font-size:85px;
}

.intro p{
    height:40%;
    font-size: 18.5px;;
    text-align:start;
}

.contact-button a{
    display:inline-block;
    margin-top:20px;
    padding: 10px 14px;
    position:relative;
    font-family:andale mono, monospace;
    font-weight:bold;
    font-size: 22px;
    border:2px solid #fff;
    border-radius: 5px;
    text-decoration:none;
    color:#fff;
    transition:0.5s ease;
}

.contact-button a:hover{
    color:black;
    background:#fff;

}

.questions{
    color:#fff;
    font-weight: bold;
    width: 60%;
    height: 90%;
    margin:auto;
    text-align:center;
}

.fs{
    margin-top: 10px;
    font-size:19px;
    border:2px solid #fff;
    padding:5px;
    border-radius: 5px;
}


.fs legend{
    display:block;
    border:2px solid #fff;
    padding:5px;
    border-radius: 5px;
}

.form{
    display:grid;
    justify-content:space-around;
    font-size:px;
}

.firstname{
    margin-top: 10px;
}

.firstname input{
    width:200px;
    height:25px;
    margin-top:10px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    transition-delay:0.3s;
    transition:0.5s ease;
}

.firstname input:hover{
    background:#fff;
    color:#000;
}

.lastname{
    margin-top: 10px;
}

.lastname input{
    width:200px;
    height:25px;
    margin-top:10px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    transition-delay:0.3s;
    transition:0.5s ease;
}

.lastname input:hover{
    background:#fff;
    color:#000;
}

.email{
    margin-top: 10px;
}

.email input{
    width:200px;
    height:25px;
    margin-top:10px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    transition-delay:0.3s;
    transition:0.5s ease;
}

.email input:hover{
    background:#fff;
    color:#000;
}

.options{
    margin-top: 10px;

}

.options select{
    text-align:center;
    font-weight:bold;
    width:200px;
    height:27px;
    margin-top:10px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    transition-delay:0.3s;
    transition: 0.5s ease
}

.options select:hover{
    background:#fff;
    color:#000;
}

.summary{
    margin-top: 20px;
    margin-bottom:40px;
}

.summary textarea{
    margin-top:10px;
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
    transition-delay:0.3s;
    transition:0.5s ease;
}

.summary textarea:hover{
    background:#fff;
    color:#000;
}

.submit{
    margin-top:10px;
    margin-bottom:40px;
}

.submit button{
    color:#fff;
    font-size:20px;
    font-weight:bold;
    height:35px;
    width:120px;
    border-radius:10px;
    background:transparent;
    border:2px solid #fff;
    transition-delay:0.3s;
    transition: 0.5s ease;
}

.submit button:hover{
    color:#000;
    background:#fff;
}
